@model IEnumerable<TheMissingConversationProject.Models.Conversation>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
    </tr>
}

</table>
