@model TheMissingConversationProject.Models.Conversation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conversation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConversationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
